<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Circlename</th>
      <th>Requestusername</th>
      <th>Acceptusername</th>
      <th>Category</th>
      <th>Fromlocation</th>
      <th>Todestination</th>
      <th>Instant</th>
      <th>Preordertime</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.circleName %></td>
        <td><%= order.requestUserName %></td>
        <td><%= order.acceptUserName %></td>
        <td><%= order.category %></td>
        <td><%= order.fromLocation %></td>
        <td><%= order.toDestination %></td>
        <td><%= order.instant %></td>
        <td><%= order.preOrderTime %></td>
        <td><%= order.cost %></td>
        <td><%= link_to 'Show', circle_order_path(@circle, order) %></td>
        <td><%= link_to 'Edit', edit_circle_order_path(@circle, order) %></td>
        <td><%= link_to 'Destroy', circle_order_path(@circle, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_circle_order_path(@circle) %>
